<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.vpclub.springboot.demo.storage.IUserDao" >
    <resultMap id="BaseResultMap" type="cn.vpclub.springboot.demo.entity.UserDo" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="userName" property="user_name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, user_name, password
    </sql>
    <select id="login" resultMap="BaseResultMap" parameterType="java.lang.String" resultType="cn.vpclub.springboot.demo.entity.UserDo">
        select
        <include refid="Base_Column_List" />
        from user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>

    <insert id="signUp" parameterType="cn.vpclub.springboot.demo.entity.UserDo" useGeneratedKeys="true" keyProperty="id">

        insert into user (user_name, password)
        values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>

    <update id="updatePassword" parameterType="cn.vpclub.springboot.demo.entity.UserDo">
        update user
        set password = #{password,jdbcType=VARCHAR},
        where id = #{id}
    </update>
</mapper>